USE [master]
GO
/****** Object:  Database [BookDB]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE DATABASE [BookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DEV\MSSQL\DATA\BookDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DEV\MSSQL\DATA\BookDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookDB]
GO
/****** Object:  StoredProcedure [dbo].[GetBookQuantity]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Abu Yousef RIad,,GetBookQuantity>
-- Create date: <Create Date, 2016.10.15>
-- Description:	<Description, Get all quantity on books>
-- =============================================
CREATE PROCEDURE [dbo].[GetBookQuantity] 
	@BookID int,
	@output int output
AS
BEGIN
	
	SET NOCOUNT ON;
	
	IF OBJECT_ID('tempdb..#temp') IS NOT NULL
	    BEGIN 
			DROP TABLE #temp;
		END

	select @output = (SELECT SUM(p.Quantity) as Quantity
					FROM Books b
					LEFT JOIN Pressures p 
					ON b.ID = p.Book_ID
					where b.ID=@BookID
					GROUP BY b.ID)
	
	
	Print @output

END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountTypes]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTypes](
	[ID] [int] NOT NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AccountTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[ItemNumber] [int] NOT NULL,
	[NetValue] [int] NOT NULL,
	[Vat] [int] NOT NULL,
	[GrossValue] [int] NOT NULL,
	[ValidFrom] [datetime] NOT NULL,
	[ValidTo] [datetime] NOT NULL,
	[Author_ID] [int] NOT NULL,
	[Cover_ID] [int] NULL,
	[Theme_ID] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Covers]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Covers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoverName] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Covers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Depot_type]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depot_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Depot_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Depots]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Zip] [nvarchar](max) NULL,
	[Type_ID] [int] NOT NULL,
	[Partner_ID] [int] NULL,
	[Deleted] [bit] NOT NULL,
	[Depot_Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Depots] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[User] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Action] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Partners]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PayOffs]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayOffs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PayOffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Presses]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Zip] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[TaxNumber] [nvarchar](max) NOT NULL,
	[AccountNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Presses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pressures]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pressures](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[AfterPressure] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Book_ID] [int] NULL,
	[Press_ID] [int] NULL,
	[Deleted] [bit] NOT NULL,
	[NotSold] [int] NOT NULL,
	[Depot_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Pressures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stockist_margin]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stockist_margin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [float] NOT NULL,
	[Partner_ID] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Stockist_margin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Themes]    Script Date: 2017. 04. 09. 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThemeName] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Themes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'a64c6d9d-a432-4976-ade4-4c086705f65f', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'18ca9cfa-b5bb-48eb-a13c-7299e107a139', N'External')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9089d585-339c-42bf-9d2f-15d0d0f5d62a', N'PowerUser')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5f89dd3a-1a36-4603-a37c-da3e3f31b724', N'18ca9cfa-b5bb-48eb-a13c-7299e107a139')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b7d1b0da-891e-4c14-9a76-27ce105d4fcb', N'2eeef4b6-a7cc-4a8f-8d4f-0d30b364139b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'02079a0a-ce5f-4914-864b-fc00642fe059', N'6460a234-18ca-47da-92f2-36096f64cbb1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'02079a0a-ce5f-4914-864b-fc00642fe059', N'Elek@gmail.com', 0, N'ANbZL5d6YJKhkBoUfFHq7c0LOe+w/1AqRT/oARm00XIP2TyVuDxJONsHwWRJN5PTnQ==', N'ea4b07f8-0259-4c35-8505-a08e5ee5f255', NULL, 0, 0, CAST(0x0000A75000F01403 AS DateTime), 1, 0, N'Elek')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3365eb31-5f8a-4e38-b10d-08dba5d5fa42', N'ricsi@gmail.com', 0, N'AK1/mW/VmcT72Wl7OrRzwB7PUEr2AaN7ctlZ2yO2HAA1srPeJnnlQy28odb5SA/BJA==', N'910d44bf-3a65-432f-b73d-e7f43305d927', NULL, 0, 0, NULL, 1, 0, N'Ricsi')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5f89dd3a-1a36-4603-a37c-da3e3f31b724', N'Jozsi@gmail.com', 0, N'AJJEV2/7nDc8PSCSeXumCIVuecXju8au2SAqxMzhCf6w4f1r6K49m0583tmIxjXjnQ==', N'3bc41f76-e14d-4aff-b5e9-52381cfea0a8', NULL, 0, 0, NULL, 1, 0, N'Józsi')
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([ID], [AuthorName], [Active], [Delete]) VALUES (1, N'V. Kulcsár Ildikó', 1, 1)
INSERT [dbo].[Authors] ([ID], [AuthorName], [Active], [Delete]) VALUES (2, N'Nagy Réka', 1, 1)
INSERT [dbo].[Authors] ([ID], [AuthorName], [Active], [Delete]) VALUES (3, N'Gabriela Nedoma', 1, 0)
SET IDENTITY_INSERT [dbo].[Authors] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([ID], [ISBN], [Name], [ItemNumber], [NetValue], [Vat], [GrossValue], [ValidFrom], [ValidTo], [Author_ID], [Cover_ID], [Theme_ID], [Deleted]) VALUES (4, N'123456', N'Patil', 1, 1500, 20, 1800, CAST(0x0000A71400000000 AS DateTime), CAST(0x0000A72200000000 AS DateTime), 13, 1, 1, 0)
INSERT [dbo].[Books] ([ID], [ISBN], [Name], [ItemNumber], [NetValue], [Vat], [GrossValue], [ValidFrom], [ValidTo], [Author_ID], [Cover_ID], [Theme_ID], [Deleted]) VALUES (5, N'123457', N'Galaxis utikalauz stopposoknak', 2, 2500, 20, 3000, CAST(0x0000A70D00000000 AS DateTime), CAST(0x0000A72300000000 AS DateTime), 14, 2, 2, 0)
INSERT [dbo].[Books] ([ID], [ISBN], [Name], [ItemNumber], [NetValue], [Vat], [GrossValue], [ValidFrom], [ValidTo], [Author_ID], [Cover_ID], [Theme_ID], [Deleted]) VALUES (28, N'234644', N'Alam', 1, 1500, 20, 1800, CAST(0x0000A72A00000000 AS DateTime), CAST(0x0000A74500000000 AS DateTime), 19, 3, 3, 0)
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Covers] ON 

INSERT [dbo].[Covers] ([ID], [CoverName], [Active], [Deleted]) VALUES (1, N'Keménytáblás', 1, 0)
INSERT [dbo].[Covers] ([ID], [CoverName], [Active], [Deleted]) VALUES (2, N'Füles kartonált', 1, 0)
INSERT [dbo].[Covers] ([ID], [CoverName], [Active], [Deleted]) VALUES (3, N'Flexibilis borító', 1, 0)
SET IDENTITY_INSERT [dbo].[Covers] OFF
SET IDENTITY_INSERT [dbo].[Depot_type] ON 

INSERT [dbo].[Depot_type] ([ID], [Type], [Deleted]) VALUES (1, N'Saját', 0)
INSERT [dbo].[Depot_type] ([ID], [Type], [Deleted]) VALUES (2, N'Bizományosi', 0)
INSERT [dbo].[Depot_type] ([ID], [Type], [Deleted]) VALUES (3, N'Technikai', 0)
SET IDENTITY_INSERT [dbo].[Depot_type] OFF
SET IDENTITY_INSERT [dbo].[Depots] ON 

INSERT [dbo].[Depots] ([ID], [City], [Address], [Zip], [Type_ID], [Partner_ID], [Deleted], [Depot_Name]) VALUES (1, N'Budapest', N'Nagymező utca 10', N'1115', 2, 6, 0, N'Központi raktár')
INSERT [dbo].[Depots] ([ID], [City], [Address], [Zip], [Type_ID], [Partner_ID], [Deleted], [Depot_Name]) VALUES (2, N'Budapest', N'Erdély utca 2', N'1211', 2, NULL, 1, N'Tartalék raktár')
INSERT [dbo].[Depots] ([ID], [City], [Address], [Zip], [Type_ID], [Partner_ID], [Deleted], [Depot_Name]) VALUES (4, N'Budapest', N'Budafoki út 33', N'1117', 2, 1, 0, N'Nagy raktár')
SET IDENTITY_INSERT [dbo].[Depots] OFF
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([ID], [Content], [User], [ModifiedDate], [Action]) VALUES (1, N'Login success.', N'ricsi@gmail.com', CAST(0x0000A73701103915 AS DateTime), N'login')
INSERT [dbo].[Logs] ([ID], [Content], [User], [ModifiedDate], [Action]) VALUES (2, N'Login failure.', N'ricsi@gmail.com', CAST(0x0000A73701105653 AS DateTime), N'logon attempt error')
INSERT [dbo].[Logs] ([ID], [Content], [User], [ModifiedDate], [Action]) VALUES (3, N'Login success.', N'ricsi@gmail.com', CAST(0x0000A73701106B5B AS DateTime), N'login')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([ID], [Name], [Active], [Deleted]) VALUES (1, N'Libri', 1, 0)
INSERT [dbo].[Partners] ([ID], [Name], [Active], [Deleted]) VALUES (2, N'Lira', 1, 0)
INSERT [dbo].[Partners] ([ID], [Name], [Active], [Deleted]) VALUES (3, N'Könyvtárellátó', 1, 0)
SET IDENTITY_INSERT [dbo].[Partners] OFF
SET IDENTITY_INSERT [dbo].[PayOffs] ON 

INSERT [dbo].[PayOffs] ([ID], [ISBN], [Name], [Quantity], [Price]) VALUES (1, N'IBSS-211-1213-1067', N'Galaxis utikalauz stopposoknak', 50, 150000)
SET IDENTITY_INSERT [dbo].[PayOffs] OFF
SET IDENTITY_INSERT [dbo].[Presses] ON 

INSERT [dbo].[Presses] ([ID], [Name], [City], [Address], [Zip], [Country], [Active], [Deleted], [TaxNumber], [AccountNumber]) VALUES (1, N'Szekszárdi Nyomda Kft.', N'Szekszárd', N'Széchenyi u.44-46.', N'7100', N'Magyarország', 1, 0, N'12321-1-24', N'666600121-121213')
INSERT [dbo].[Presses] ([ID], [Name], [City], [Address], [Zip], [Country], [Active], [Deleted], [TaxNumber], [AccountNumber]) VALUES (2, N'Dürrer Nyomda Kft.', N'Budapest', N'Jókai Mór út 5-7.', N'5700', N'Magyarország', 1, 0, N'12321-1-25', N'32132165-89654')
INSERT [dbo].[Presses] ([ID], [Name], [City], [Address], [Zip], [Country], [Active], [Deleted], [TaxNumber], [AccountNumber]) VALUES (3, N'név', N'város', N'cím', N'irsz', N'orsz', 0, 1, N'23432', N'879797')
SET IDENTITY_INSERT [dbo].[Presses] OFF
SET IDENTITY_INSERT [dbo].[Pressures] ON 

INSERT [dbo].[Pressures] ([ID], [OrderDate], [AfterPressure], [Quantity], [Book_ID], [Press_ID], [Deleted], [NotSold], [Depot_ID]) VALUES (8, CAST(0x0000A73900000000 AS DateTime), 1, 15, 4, 1, 0, 0, NULL)
INSERT [dbo].[Pressures] ([ID], [OrderDate], [AfterPressure], [Quantity], [Book_ID], [Press_ID], [Deleted], [NotSold], [Depot_ID]) VALUES (9, CAST(0x0000A61800000000 AS DateTime), 2, 20, 4, 1, 0, 0, NULL)
INSERT [dbo].[Pressures] ([ID], [OrderDate], [AfterPressure], [Quantity], [Book_ID], [Press_ID], [Deleted], [NotSold], [Depot_ID]) VALUES (10, CAST(0x0000A61800000000 AS DateTime), 3, 40, 5, 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Pressures] OFF
SET IDENTITY_INSERT [dbo].[Stockist_margin] ON 

INSERT [dbo].[Stockist_margin] ([ID], [Discount], [Partner_ID], [Active], [Deleted]) VALUES (1, 0.2, 1, 1, 0)
INSERT [dbo].[Stockist_margin] ([ID], [Discount], [Partner_ID], [Active], [Deleted]) VALUES (2, 0.3, 2, 1, 0)
INSERT [dbo].[Stockist_margin] ([ID], [Discount], [Partner_ID], [Active], [Deleted]) VALUES (3, 0.21, 3, 1, 0)
SET IDENTITY_INSERT [dbo].[Stockist_margin] OFF
SET IDENTITY_INSERT [dbo].[Themes] ON 

INSERT [dbo].[Themes] ([ID], [ThemeName], [Active], [Deleted]) VALUES (1, N'Életmód', 1, 0)
INSERT [dbo].[Themes] ([ID], [ThemeName], [Active], [Deleted]) VALUES (2, N'Ezotéria', 1, 0)
INSERT [dbo].[Themes] ([ID], [ThemeName], [Active], [Deleted]) VALUES (3, N'Gasztronómia', 1, 0)
SET IDENTITY_INSERT [dbo].[Themes] OFF
/****** Object:  Index [IX_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_ID] ON [dbo].[AccountTypes]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Author_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Author_ID] ON [dbo].[Books]
(
	[Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cover_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Cover_ID] ON [dbo].[Books]
(
	[Cover_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Theme_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Theme_ID] ON [dbo].[Books]
(
	[Theme_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partner_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Partner_ID] ON [dbo].[Depots]
(
	[Partner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Type_ID] ON [dbo].[Depots]
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Book_ID] ON [dbo].[Pressures]
(
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Depot_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Depot_ID] ON [dbo].[Pressures]
(
	[Depot_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Press_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Press_ID] ON [dbo].[Pressures]
(
	[Press_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partner_ID]    Script Date: 2017. 04. 09. 22:05:18 ******/
CREATE NONCLUSTERED INDEX [IX_Partner_ID] ON [dbo].[Stockist_margin]
(
	[Partner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Covers] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Depot_type] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Depots] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Partners] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Presses] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Presses] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Pressures] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Pressures] ADD  DEFAULT ((0)) FOR [NotSold]
GO
ALTER TABLE [dbo].[Stockist_margin] ADD  DEFAULT ((0)) FOR [Partner_ID]
GO
ALTER TABLE [dbo].[Stockist_margin] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Stockist_margin] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Themes] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[AccountTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountTypes_dbo.Partners_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[AccountTypes] CHECK CONSTRAINT [FK_dbo.AccountTypes_dbo.Partners_ID]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Authors_Author_ID] FOREIGN KEY([Author_ID])
REFERENCES [dbo].[Authors] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Authors_Author_ID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Covers_Cover_ID] FOREIGN KEY([Cover_ID])
REFERENCES [dbo].[Covers] ([ID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Covers_Cover_ID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Themes_Theme_ID] FOREIGN KEY([Theme_ID])
REFERENCES [dbo].[Themes] ([ID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Themes_Theme_ID]
GO
ALTER TABLE [dbo].[Depots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Depots_dbo.Depot_type_Type_ID] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Depot_type] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Depots] CHECK CONSTRAINT [FK_dbo.Depots_dbo.Depot_type_Type_ID]
GO
ALTER TABLE [dbo].[Depots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Depots_dbo.Partners_Partner_ID] FOREIGN KEY([Partner_ID])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[Depots] CHECK CONSTRAINT [FK_dbo.Depots_dbo.Partners_Partner_ID]
GO
ALTER TABLE [dbo].[Pressures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pressures_dbo.Books_Book_ID] FOREIGN KEY([Book_ID])
REFERENCES [dbo].[Books] ([ID])
GO
ALTER TABLE [dbo].[Pressures] CHECK CONSTRAINT [FK_dbo.Pressures_dbo.Books_Book_ID]
GO
ALTER TABLE [dbo].[Pressures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pressures_dbo.Depots_Depot_ID] FOREIGN KEY([Depot_ID])
REFERENCES [dbo].[Depots] ([ID])
GO
ALTER TABLE [dbo].[Pressures] CHECK CONSTRAINT [FK_dbo.Pressures_dbo.Depots_Depot_ID]
GO
ALTER TABLE [dbo].[Pressures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pressures_dbo.Presses_Press_ID] FOREIGN KEY([Press_ID])
REFERENCES [dbo].[Presses] ([ID])
GO
ALTER TABLE [dbo].[Pressures] CHECK CONSTRAINT [FK_dbo.Pressures_dbo.Presses_Press_ID]
GO
ALTER TABLE [dbo].[Stockist_margin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stockist_margin_dbo.Partners_Partner_ID] FOREIGN KEY([Partner_ID])
REFERENCES [dbo].[Partners] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stockist_margin] CHECK CONSTRAINT [FK_dbo.Stockist_margin_dbo.Partners_Partner_ID]
GO
USE [master]
GO
