@{
    ViewBag.Title = "Elérhetőségek";
}
<div id="nifty">
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Tel:</abbr>
    +36 30 444 1478
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:abuyousefriad@gmail.com">abuyousefriad@gmail.com</a><br />
   
</address>
    </div>